* {
    box-sizing: border-box;
}
html,body{
    height: 100%;
}
body {
    margin: 0;
    background: #2A3132;
    font-family: 'Roboto Mono', monospace;
}
.background{
    background: white url("seigaiha.png") repeat;
}
.logo{
    background: #2A3132;
    border-bottom: 1px solid #336B87;
}
.logo > header{
    font-family: 'Rubik', sans-serif;
    padding: 0 20px;
    text-align: center;
}
header h2{
    margin: 10px 0;
    color: #90AFC5;
}
header h3{
    margin: 5px 0;
    color: #336B87;
}
nav ul{
    list-style-type: none;
    padding: 10px 20px;
    margin: 0;
    text-align: center;
}

.content-header{
    color: #763626;
}
.center{
    text-align: center;
    vertical-align: middle;
}

nav ul li{
    padding: 10px;
    background: #2A3132;
    color: #eeeff0;
    border: 1px solid transparent;
    cursor: pointer ;
}
nav ul li:hover{
    border: 1px solid #90AFC5;
}
nav ul li.active{
    background: #336B87;
}
/* Create two equal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
}
.left{
    width:25%;
    background: #2A3132;
}
.right{
    width:75%;
}

.row{
    height: auto;
    overflow: hidden;
}

.fill{
    overflow: hidden;
    margin-bottom: -1000px;
    padding-bottom: 1000px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column {
        width: 100%;
    }
}

article{
    background: #90AFC5;
    padding: 20px 20px;
    margin: 0px 40px 20px 40px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
article header h2{
    color: #763626;
}
article p{
    color: #2A3132;
}
footer{
    text-align: center;
}
#footer-background{
    background-color: #2A3132;
    color: #eeeff0;
    height:100%;
}

table {
    border-collapse: collapse;
    width: 100%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

th, td {
    text-align: center;
    padding: 8px;
}

tr {
    background-color: #336B87;
    border-bottom: 1px solid #90AFC5;
}
th {
    background-color: #763626;
    color: #eeeff0;
}
td {
    color: #eeeff0;
}

main {
    margin-bottom: 20px;
}

main div.content {
    padding: 20px 20px;
    margin: 0px 40px 20px 40px;
}

.card{
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
}
.card .container{
    padding: 0.01em 16px;
}
.card .input{
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
}
.card button{
    background-color: #2A3132;
    color: #eeeff0;
    border: none;
    display: inline-block;
    outline: 0;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}
.card .border{
    border: 1px solid #2A3132;
}
.card .header{
    background-color: #763626;
}
.card .body{
    background-color: #336B87;
}
.card{
    color: #eeeff0;
}

#footer-background a{
    color: #eeeff0;
}
#footer-background a:visited{
    color: #90AFC5;
}
#footer-background a:hover{
    color: #336B87;
}
